live-and-dines
odyssey

*.zip
.DS_Store
wp-config.php
ignore

wp-content/cache
wp-content/uploads
wp-content/w3tc-config
wp-content/themes/lflatheme
wp-content/themes/libraryfoundation-dev
wp-content/themes/backups
wp-content/wp-content
wp-content/wflogs/config.php
wp-content/plugins/wordfence/tmp/configCache.php
wp-content/themes/libraryfoundation/config.codekit