body {
  background: url(../../assets/img/ld--bg.jpg);
  background-color: RGBA(238, 233, 229, 1);
  background-position: center top;

  @media @xs {
    background-size: 1200px auto;
    background-repeat: no-repeat;
  }

  @media @mobile {
    background-size: 1700px auto;
    background-repeat: no-repeat;
  }

  @media @tablet {
    background-size: auto;
  }

}

#header {

  width: 100%;
  top: 0;

  @media @desktop {
    position: absolute;
  }


  #logo {

    display: block;
    margin: 15px;

    @media @xs {
      margin: 15px auto;
      width: 100px;
    }

     @media @tablet {
      margin: 15px auto 45px;
      width: 120px;
    }

    @media @desktop {
      margin: 15px;
      width: 135px;
    }

  }

  .fs-cell {

    @media @mobile {
      display: block;
      float: none;
      margin: auto;
      margin-bottom: @spaced;
    }

    @media @tablet {
      float: left;
    }

  }

}

#index {

  padding-bottom: @spaced*3;

  @media @xs {
    margin-top: @spaced;
  }

  @media @desktop {
    margin-top: 170px;
  }

}

#splash--title h2 {
  margin-top: @spaced;
  font-family: 'franklin-gothic-urw-cond';

  @media @xs {
    .font_size(24);
    text-align: center;
    line-height: 1.2;
  }

  @media @mobile {
    .font_size(22);
    text-align: center;
    line-height: auto;
  }

  @media @tablet {
    .font_size(27);
    text-align: center;
  }

  @media @desktop {
    .font_size(25);
  }

  @media @max {
    .font_size(27);
  }

}

#splash--desc {

  .font_size(23);
  font-family: @font-fam-titles;
  color: @orange;
  p { color: inherit; font-size: inherit;}

  @media @xs {
    text-align: center;
  }

  @media @desktop {
    text-align: left;
  }

}

#splash--social {
  text-align: center;
  position: relative;
  a {
    color: @green;
    height: 32px;
    margin-bottom: 5px;
    .font_size(32);
    i {
      display: inline-block;
      height: 32px;
    }
    @media @desktop {
      display: block;
    }
  }
  span {
    font-family: 'franklin-gothic-urw-cond';
    text-transform: uppercase;
    .font_size(15);
    display: none;
    color: @green;
    margin-top: @spaced/1.25;
    @media @desktop {
      display: block;
      position: absolute;
      top: 100%;
      left: 50%;
      .font_size(24);
      transform:  translateX(-50%) translateY(-50%) rotate(90deg);
    }
  }
}

#splash--empty {

  .font_size(23);
  font-family: 'franklin-gothic-urw-cond';

  @media @xs {
    text-align: center;
  }

  @media @desktop {
    text-align: left;
  }

}

#splash--check {

  font-family: @font-fam-titles;
  color: @white;
  p { color: inherit;}

  @media @xs {
    text-align: center;
  }

  @media @desktop {
    text-align: center;
  }

  .wrapper {
    background: url(../../assets/img/banner-bg.png);
    background-repeat: no-repeat;
    padding-bottom: 30px;
    padding-top: 30px;

    @media @xs {
      background-position: center 25px;
      padding-bottom: 50px;
      margin: 0 -15px;
      background-size: contain;
      .font_size(16);
    }

    @media @mobile {
      background-position: center 25px;
      padding-bottom: 50px;
      .font_size(24);
      margin: 0;
      background-size: auto;
    }

    @media @desktop {
      margin-left: -25px;
      background-position: left 25px;
      padding-bottom: 30px;
      background-size: contain;
    }

    @media @max {
      background-size: auto;
    }
  }

}

#splash--links {


  font-family: 'franklin-gothic-urw-cond';
  text-align: center;
  text-transform: uppercase;

  .wrapper {
    padding-bottom: 0;
  }

  @media @xs {
    .font_size(15);
  }

  @media @desktop {
    .font_size(12);
  }

  a {
    text-decoration: underline;
  }

}

#starship {

  @media @desktop {
    margin-top: 50px;
    margin-left: -3px;
  }

}

#splash--follow {

  font-family: "Sentinel", sans-serif;
  text-align: center;

  color: @orange;

  span {
    .font_size(16);
  }

  a {
    color: @orange;
    .font_size(28);
  }

}